.sddafa{
    color: white;
}
.gghh{
    width: 550px;
    height: 700px;
}
.sqsq{
    font-size: 40px;
    margin-top: -600px;
    color: white;
    margin-left: 150px;
}
.kdkd{
    margin-left: 150px;
}
.dsse{
    width: 300px;
    height: 100px;
    background-color: white;
    border: 1px solid white;
    color: black;
    position: fixed;
    top: 500px;
    left: 100px;
}
