.gfgfgfd{
    margin-left: 400px;
}
.hjhhkj{
    width: 500px;
    height: 200px;
}
.dffd{
    margin-left: 80px;
}
.saas{
    font-size: 40px;
    margin-left: 130px;
}
.zaza{
    margin-left: 90px;
}
.sasz{
    margin-left: -20px;
}
.sdf{
    float: left;
    margin-left: 70px;
    font-size: 20px;
    margin-top: 50px;
    transition: all 0s ease;
}
.sdf:hover{
    color: blue;
    border-bottom: 2px solid blue;
    padding-bottom: 10px;
}
.imgg{
    margin-top: 20px;
    margin-left: 100px;
}
.xax{
    float: left;
    margin-left: 50px;
    transition: all 1s ease-in-out;
}

.xaxa{
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}
.imgg2{
    margin-left: 100px;
}